<p id="notice"><%= notice %></p>

<div class="container-fluid" float: "right">
  <div class="row">
    <div class="col-xs-6 col-md-3">

    <p> 
      <span class="glyphicon glyphicon-user"></span>
      <strong>Name:</strong>
      <%= @product.name %>
    
    </p>

    <p>
      <span class="glyphicon glyphicon-pencil"></span>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>


    <p>
      <span class="glyphicon glyphicon-asterisk"></span>
      <strong>Text:</strong>
      <%= @product.text %>
    </p>

    <p>
      <span class="glyphicon glyphicon-picture"></span>
      <strong>Image url:</strong>
      <%= @product.image_url %>
    </p>

    <p>  
      <span class="glyphicon glyphicon-hand-right"></span>
      <strong>Color:</strong>
      <%= @product.color %>
    </p>
    <p> 
      <span class="glyphicon glyphicon-star-empty"></span>
      <strong>Average Rating:</strong>
      <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
    </p>
    </div>
  </div>
</div>

<%= render :partial => "products/new_comment" %>
<%= will_paginate @comments %>
<%= render :partial => "products/comments" %>

    
    
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>

