<!DOCTYPE html>
<html>
<head>
  <title>Wright Co.</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  

  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
 
  <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>
  
  <% if alert %>
  <p id="alert" class="alert alert-info"><%= alert %></p>
  <% end %>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>



<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The Wright Co.</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home",static_pages_index_path %> </li>
      <li><%= link_to "Featured Product",static_pages_landing_page_path %> </li>
      <li><%= link_to "About",static_pages_about_path %> </li>
      <li><%= link_to "Contact",static_pages_contact_path %> </li>
    <div class="nav pull-right">
          <li><%= form_tag("/products", method: "get") do %>
              <%= label_tag(:q, "Search for:") %>
              <%= text_field_tag(:q) %>     
          <%= submit_tag("Search") %></li>
          <% end %> 
          </ul>

    <ul class="nav pull-right">
      <li>
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path) %>
        <% end %>
      </li>
    </ul>  
     
   </div>       
        

  </div>
</nav>

<%= yield %>

<footer>
  <div class= container>
    <p class= "text-muted">&copy; 2015 The Wright Co.</p>
  </div>  	
</footer>

</body>
</html>
